.battleship{
  margin-top: 20px;
}

.app{
  display: flex;
  flex-direction: column;
  align-items: center
}

.disabled{
  opacity: 0.5;
}


div .hitField{
  background-image: url(./assets/redx.png);
  border: 2px solid gray;
  background-size: contain;
  height: 50px;
  width: 50px;
}

div .missField{
  background-color: aqua;
}
.enemyField:hover{
  border-color: greenyellow;
}

.enemyField{
  background-color: white;
  border: 2px solid gray;
  height: 50px;
  width: 50px;
}

.battleshipRow{
  display: flex;
  flex-direction: row;
}

.battleField{
  background-color: white;
  border: 2px solid gray;
  height: 50px;
  width: 50px;
}

.battleFieldMarked{
  background-color: gray;
  border: 2px solid gray;
  height: 50px;
  width: 50px;
}


.timer{
  margin-top: 20px;
  font-size: 25px;
  font-weight: bold;
}